*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
button{
    cursor: pointer;
    border: none;
    transition: .4s;
}
body{
    font-family: sans-serif;
}
